// COLORS
$color-primary: #ee4d4d;
$color-secondary: #969696;
$color-background: #F9F9F9;

$gym-color-background: #E0FFEF;

$color-white: #ffffff;
$color-grey: #a7a7a7;
$color-black: #000000;

// FONT
$logo-font-size: 3rem;
$default-font-size: 1.6rem;
$heading-font-size: 5rem;
$subheading-font-size: 3rem;
$link-font-size: 2rem;
$other-font-size: 1.5rem;